<div class="container">
  <div class="row top-row">
    <div class="col-xs-12 row end-xs">
      <a (click)="goBack()" color="primary" mat-flat-button><!--[routerLink]="['/list', item.toDoListId]"-->
        <mat-icon>chevron_left</mat-icon>Back
      </a>
    </div>
  </div>

  <form #itemDetailForm="ngForm">
    <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label>Name</mat-label>
              <input type="text" matInput [(ngModel)]="item.name" name="name" required>
              <mat-error>Name is required.</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label>Description</mat-label>
              <input type="text" matInput [(ngModel)]="item.description" name="description">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label>Notes</mat-label>
              <textarea matInput [(ngModel)]="item.notes" name="notes"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label>Due Date</mat-label>
              <input matInput [(ngModel)]="item.dueDate" [matDatepicker]="picker" name="dueDate" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error>Due date is required.</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label>Creation Date</mat-label>
              <input matInput [(ngModel)]="item.createdDate" [matDatepicker]="picker2" name="creationDate" disabled>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

      </div>
    </div>
    <div class="col-xs-12 row end-xs" style="text-align: right">
      <button mat-fab color="accent" (click)="onSave()" [disabled]="itemDetailForm.invalid">
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </form>
</div>